<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Import Project="..\..\..\packages\stackato-msbuild-tasks.1.3.0.15\cf-msbuild-tasks.targets" />
  <PropertyGroup>
    <CFOrganization>Org1</CFOrganization>
    <CFSpace>Dev</CFSpace>
    <CFUser>Etienne</CFUser>
    <CFSavedPassword>true</CFSavedPassword>
    <CFServerUri>https://172.18.2.202.xip.io/</CFServerUri>
    <CFSkipSSLValidation>true</CFSkipSSLValidation>
    <WebPublishMethod>CloudFoundry</WebPublishMethod>
    <CFManifest>push.yml</CFManifest>
    <CFPublishProfileVersion>1.3.0.19</CFPublishProfileVersion>
  </PropertyGroup>
</Project>